#sidebar.sidebar
  script(type='text/javascript').
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
  #sidebar-shortcuts.sidebar-shortcuts
    #sidebar-shortcuts-large.sidebar-shortcuts-large
      button.btn.btn-success
        i.icon-signal
      span &nbsp;
      button.btn.btn-info
        i.icon-pencil
      span &nbsp;
      button.btn.btn-warning
        i.icon-group
      span &nbsp;
      button.btn.btn-danger
        i.icon-cogs
    #sidebar-shortcuts-mini.sidebar-shortcuts-mini
      span.btn.btn-success
      span.btn.btn-info
      span.btn.btn-warning
      span.btn.btn-danger
  // #sidebar-shortcuts
  ul.nav.nav-list
    li.active
      a(href='#/wellcome')
        i.icon-dashboard
        span.menu-text  控制台 
    li
      a.dropdown-toggle(href='#')
        i.icon-bookmark 
        span.menu-text  商品分类管理
        b.arrow.icon-angle-down
      ul.submenu
        li
          a(href='#/typeLists')
            i.icon-double-angle-right
            |浏览分类
        li
          a(href='#/typeAddPage/1')
            i.icon-double-angle-right
            |新增分类 
    li
      a(href='#')
        i.icon-bookmark 
        span.menu-text  举报管理
  // /.nav-list
  #sidebar-collapse.sidebar-collapse
    i.icon-double-angle-left(data-icon1='icon-double-angle-left', data-icon2='icon-double-angle-right')
  script(type='text/javascript').
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}