#navbar.navbar.navbar-default
  script(type='text/javascript').
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  #navbar-container.navbar-container
    .navbar-header.pull-left
      a.navbar-brand(href='#')
        small
          i.icon-leaf
          |               校园二手市场交易系统后台
      // /.brand
    // /.navbar-header
    .navbar-header.pull-right(role='navigation')
      ul.nav.ace-nav
        li.grey
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-tasks
            span.badge.badge-grey 4
          ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
            li.dropdown-header
              i.icon-ok
              |                   4 Tasks to complete
            li
              a(href='#')
                .clearfix
                  span.pull-left Software Update
                  span.pull-right 65%
                .progress.progress-mini
                  .progress-bar(style='width:65%')
            li
              a(href='#')
                .clearfix
                  span.pull-left Hardware Upgrade
                  span.pull-right 35%
                .progress.progress-mini
                  .progress-bar.progress-bar-danger(style='width:35%')
            li
              a(href='#')
                .clearfix
                  span.pull-left Unit Testing
                  span.pull-right 15%
                .progress.progress-mini
                  .progress-bar.progress-bar-warning(style='width:15%')
            li
              a(href='#')
                .clearfix
                  span.pull-left Bug Fixes
                  span.pull-right 90%
                .progress.progress-mini.progress-striped.active
                  .progress-bar.progress-bar-success(style='width:90%')
            li
              a(href='#')
                | See tasks with details
                i.icon-arrow-right
        li.purple
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-bell-alt.icon-animated-bell
            span.badge.badge-important 8
          ul.pull-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
            li.dropdown-header
              i.icon-warning-sign
              |                   8 Notifications
            li
              a(href='#')
                .clearfix
                  span.pull-left
                    i.btn.btn-xs.no-hover.btn-pink.icon-comment
                    |                         New Comments
                  span.pull-right.badge.badge-info +12
            li
              a(href='#')
                i.btn.btn-xs.btn-primary.icon-user
                |                     Bob just signed up as an editor ...
            li
              a(href='#')
                .clearfix
                  span.pull-left
                    i.btn.btn-xs.no-hover.btn-success.icon-shopping-cart
                    |                         New Orders
                  span.pull-right.badge.badge-success +8
            li
              a(href='#')
                .clearfix
                  span.pull-left
                    i.btn.btn-xs.no-hover.btn-info.icon-twitter
                    |                         Followers
                  span.pull-right.badge.badge-info +11
            li
              a(href='#')
                | See all notifications
                i.icon-arrow-right
        li.green
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-envelope.icon-animated-vertical
            span.badge.badge-success 5
          ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
            li.dropdown-header
              i.icon-envelope-alt
              |                   5 Messages
            li
              a(href='#')
                img.msg-photo(src='static/assets/avatars/avatar.png', alt="Alex's Avatar")
                span.msg-body
                  span.msg-title
                    span.blue Alex:
                    |                         Ciao sociis natoque penatibus et auctor ...
                  span.msg-time
                    i.icon-time
                    span a moment ago
            li
              a(href='#')
                img.msg-photo(src='static/assets/avatars/avatar3.png', alt="Susan's Avatar")
                span.msg-body
                  span.msg-title
                    span.blue Susan:
                    |                         Vestibulum id ligula porta felis euismod ...
                  span.msg-time
                    i.icon-time
                    span 20 minutes ago
            li
              a(href='#')
                img.msg-photo(src='static/assets/avatars/avatar4.png', alt="Bob's Avatar")
                span.msg-body
                  span.msg-title
                    span.blue Bob:
                    |                         Nullam quis risus eget urna mollis ornare ...
                  span.msg-time
                    i.icon-time
                    span 3:15 pm
            li
              a(href='#')
                | See all messages
                i.icon-arrow-right
        li.light-blue
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            img.nav-user-photo(src='static/assets/avatars/user.jpg', alt="Jason's Photo")
            span.user-info
              small 欢迎您 ,&nbsp;
              |                   管理员
            i.icon-caret-down
          ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
            li
              a(href='#')
                i.icon-cog
                |                     个人设置
            li
              a(href='#')
                i.icon-user
                |                     个人信息
            li.divider
            li
              a(href='#')
                i.icon-off
                |                     安全退出
      // /.ace-nav
    // /.navbar-header
  // /.container