doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    //- basic styles 
    link(rel='stylesheet', href='/static/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='/static/assets/css/font-awesome.min.css')
    //- ace styles
    link(rel='stylesheet', href='/static/assets/css/ace-rtl.min.css')
    link(rel='stylesheet', href='/static/assets/css/ace-skins.min.css')
    link(rel='stylesheet', href='/static/assets/css/jquery.gritter.css')
    link(rel='stylesheet', href='/static/assets/css/ace.min.css')

    //- ace settings handler
    script(src='/static/assets/js/jquery-2.0.3.min.js',type='text/javascript')

    script(src='/static/assets/js/ace-extra.min.js',type='text/javascript')

    script(src='/static/assets/js/bootstrap.min.js',type='text/javascript')
    script(src='/static/assets/js/typeahead-bs2.min.js',type='text/javascript')
    //- ace scripts
    script(src='/static/assets/js/ace-elements.min.js',type='text/javascript')
    script(src='/static/assets/js/ace.min.js',type='text/javascript')
    script(src='/static/assets/js/jquery.gritter.min.js',type='text/javascript')
    script(src='/static/angular/angular.min.js',type='text/javascript')
    script(src='/static/angular-ui-router/release/angular-ui-router.min.js',type='text/javascript')
    script(src='/static/angular-animate/angular-animate.min.js',type='text/javascript')
    //- 管理员后台控制菜单控制
    script(src='/javascripts/admin/app.js',type='text/javascript')
    //- css休整
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
