<script src="/javascripts/fuelux/data/fuelux.tree-sampledata.js"></script>
<script src="/javascripts/fuelux/fuelux.tree.min.js"></script>
<!-- 类型树状图展示页面 -->
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header header-color-blue2">
                <h4 class="lighter smaller">Choose Categories</h4>
                <div class="pull-right">
                  <a class="btn btn-info" href="#/typeAddPage/0">
                    <i class="fi-burst-new"></i>
                    创建新分类
                  </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="typeList" class="tree"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT ENDS -->
<script type="text/javascript">
var tree_data = {};
function createLeafs(node, nodeId) {
  //node为当前的根节点，nodeId为当前node的id
  //先获取node的下一节子节点，在递归遍历
  
  $.get('/a/typeChildren/'+nodeId, function(data) {
    var items = data.items;
    var currentNode = {};
    node['additionalParameters'] = {
      'children' : {
      } 
    }
    for(var item in items){
      var index = items[item]._id;
      node['additionalParameters']['children'][index] = {
        id : index,
        name: items[item].name + "<div class='CRUD pull-right' onclick='return;' style='margin-top:-3px;'><a class='btn btn-xs btn-info' href='#/typeEdit/"+index+"'><i class='icon-pencil'></i></a>&nbsp;&nbsp;<a class='btn btn-xs btn-danger' href ='javascript:delById(\""+index+"\")'><i class='icon-trash'></i></a>&nbsp;&nbsp;<a class='btn btn-xs btn-info' href ='#/typeAddPage/"+index+"'><i class='fi-folder-add'></i></a></div>",
        type: items[item].isLast ? 'item' : 'folder'
      }
      if (!items[item].isLast) { //如果不是叶子节点就进行异步遍历添加子节点 
          createLeafs(node['additionalParameters']['children'][index],index)
      }
    }
  });
}



function creatTree(items) {
    for (var item in items) {
        var index = items[item]._id
        
        tree_data[index] = {
            id: index,
            name: items[item].name + "<div class='CRUD pull-right' onclick='return;' style='margin-top:-3px;'><a class='btn btn-xs btn-info' href='#/typeEdit/"+index+"'><i class='icon-pencil'></i></a>&nbsp;&nbsp;<a class='btn btn-xs btn-danger' href ='javascript:delById(\""+index+"\")'><i class='icon-trash'></i></a>&nbsp;&nbsp;<a class='btn btn-xs btn-info' href ='#/typeAddPage/"+index+"'><i class='fi-folder-add'></i></a></div>",
            type: items[item].isLast ? 'item' : 'folder'
        };
    
        // console.log("items[item].isLast : "+items[item].isLast)
        if (!items[item].isLast) { //如果不是叶子节点就进行异步遍历添加子节点 
            createLeafs(tree_data[index],index)
        }
    }
   
}
function appendTree(){
  var treeDataSource = new DataSourceTree({
      data: tree_data
  });
  $('#typeList').ace_tree({
      dataSource: treeDataSource,
      multiSelect: true,
      loadingHTML: '<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
      'open-icon': 'icon-minus',
      'close-icon': 'icon-plus',
      'selectable': true,
      'selected-icon': 'icon-ok',
      'unselected-icon': 'icon-remove'
  });
  $('#typeList').on('opened', function (evt, data) {
  });
 
}
function delById(id){
  $.get('/a/typeDel/'+id, function(data) {
      $.gritter.add({
         title: '提示！',
         text: data.message,
         class_name: 'gritter-success gritter-center',
         position : 'center',
         time: 3000
       });  
    });
}
// setTimeout("appendTree(tree_data)",500);
setTimeout(function(){
  appendTree(tree_data)
  $('.CRUD').css({'z-index':10}).on('click',function(event){
    // alert();
    event.stopPropagation();
  })
},500);
</script>
