<!-- 类型创建页面 -->
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header header-color-blue2">
                <h4 class="lighter smaller">当前分类名称 ：{{type.name}}</h4>
                <div class="pull-right">
                  <a class="btn btn-info" href="javascript:history.go(-1);">
                    <i class="fi-burst-new"></i>
                    返回
                  </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <form class="form-horizontal" role='form'>
                          <input id="parentId" type="hidden" value="{{type ? type.parentId : ''}}" name="parentId">
                          <input id="currentId" type="hidden" value="{{type ? type._id : ''}}" name="parentId">
                          <!-- 表单内容 -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="typeName">类型名称 : </label>
                            <div class="col-sm-9">
                              <input id='typeName' name='typeName' placeholder='请填写类型名称' type="text" class="col-sm-5" value="{{type.name}}" />
                            </div>
                          </div>
                          <!-- //.表单内容 -->
                          <!-- 表单内容 -->
                          <div class="form-group">
                            <label class="control-label col-sm-3 no-padding-right">是否为最终分类 :</label>
                            <div class="col-sm-9">
                              <div class="checkbox">
                                  <label>
                                    <input ng-if="type.isLast" checked="true" id="typeIsLast" type="checkbox" name="typeIsLast" onclick="checkKeyVlue()">
                                    <input ng-if="!type.isLast" id="typeIsLast" type="checkbox" name="typeIsLast" onclick="checkKeyVlue()">
                                  </label>
                                </div>
                            </div> 
                          </div>
                          <!-- //.表单内容 -->
                          <!-- 表单内容 类型属性-->
                          <div id="typeKeyVlue" >
                            <div id='{{item.keyName}}' ng-repeat="item in type.keys" class='form-group'>
                              <label class='control-label col-sm-3 no-padding-right'>属性 :</label>
                              <div class='col-sm-3'>
                                <input id='keyName' name='keyName' placeholder='请填写属性名称' type='text' class='col-sm-12' value="{{item.keyName}}" />
                              </div>
                              <div class='col-sm-3'>
                                <input id='keyType' name='keyType' placeholder='请填写属性类型' type='text' class='col-sm-12' value="{{item.keyType}}" />
                              </div>
                              <div class='col-sm-1'>
                                <a href='javascript:void(0)' ng-click='remove($event)' style='color:#b74635;'>
                                  <i class='icon-minus bigger-200' data-id='{{item.keyName}}'></i>
                                </a>
                              </div>
                            </div>
                          </div>
                         
                          <!-- //.表单内容 类型属性 -->
                          <div id="addKeyVlue" class="form-group">
                            <div class="col-md-1 col-md-offset-3">
                              <a href="javascript:add()" class="color:#47a447">
                                <i class='icon-plus bigger-200'></i>
                              </a>
                            </div>
                          </div>

                          <div class="clearfix form-actions">
                            <div class="col-md-offset-9 col-md-3">
                              <a  class="btn btn-info" href='javascript:update()'>
                                <i class="icon-ok bigger-110"></i>
                                保存
                              </a>

                              &nbsp; &nbsp; &nbsp;
                              <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                重置
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT ENDS -->
<script>
var keys = [0];//ajax发送请求的时候用作数据遍历的标记

function add(){
  var d = new Date();
  var random = d.getTime();
  var html = "<div id='chris_"+random+"' class='form-group'><label class='control-label col-sm-3 no-padding-right'>属性 :</label><div class='col-sm-3'><input id='keyName' name='keyName' placeholder='请填写属性名称' type='text' class='col-sm-12' /></div><div class='col-sm-3'><input id='keyType' name='keyType' placeholder='请填写属性类型' type='text' class='col-sm-12' /></div><div class='col-sm-1'><a href='javascript:remove(\"chris_"+random+"\")' style='color:#b74635;'><i class='icon-minus bigger-200'></i></a></div></div>";
  keys["chris_"+random] = true;
  keys[0]++;
  $('#typeKeyVlue').append(html)
}
function remove(id){
  if(keys[0]>1){
    delete keys[id];
    keys[0]--;
    $("#"+id).animate({
      "height": 0},
      300, function() {
      this.remove();
    });
  }else{
    $.gritter.add({
      title: '错误提示！',
      text: '最终分类中至少有一个属性',
      class_name: 'gritter-error gritter-center',
      position : 'center',
      time: 3000
    });

    // return false;
  }  
}

function checkKeyVlue(){
  var v = $("#typeIsLast").prop("checked");
  console.log(v)
  if(v){
    add()
    $('#addKeyVlue').show();
  }else{
    keys = [0];
    $('#addKeyVlue').hide();
    $('#typeKeyVlue').empty();
  }
}
// checkKeyVlue();
function update(){
  var k = {data : JSON.stringify(getType())}
  $.ajax({   
     type : "post",  
     url : '/a/typeUpdate',  
     data : k,
     dataType: "json",  
     success:function(data){
       if(data.message){
        $.gritter.add({
          title: '提示！',
          text: data.message,
          class_name: 'gritter-success gritter-center',
          position : 'center',
          time: 2000
        });
       }  
     },
     error:function (data, status, e){   
       $.gritter.add({
          title: '提示！',
          text: '保存失败！',
          class_name: 'gritter-error gritter-center',
          position : 'center',
          time: 3000
        });  
     }   
  }); 
}
function getType(){
  var v = $("#typeIsLast").prop("checked");
  var type = {        
      // "id" : $('#nowId').val(),
      "parentId" : $('#parentId').val(),
      "id" : $('#currentId').val(),
      "name" : $('#typeName').val(),
      "isLast" : v
    };
  if(v){
    var KV = [];
    for(var i in keys){
      if(i!=0){        
        KV.push({
          keyName : $("#"+i+" input[name='keyName']").val(),
          keyType : $("#"+i+" input[name='keyType']").val()
        })
      }
    }
    type["keys"] = KV;
  }
  return type;
}
</script>