doctype html
html
  head
    title= title
    link(rel="stylesheet",href="/javascripts/animated-header/css/component.css")
    link(rel="stylesheet",href="/javascripts/animated-header/css/normalize.css")
    link(rel="stylesheet",href="/static/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet",href="/static/foundation-icons/foundation-icons.css")

    link( rel="stylesheet" href="/i/css/app.css")
    link( rel="stylesheet" href="/i/css/index.css")
    //- link( rel="stylesheet" href="/i/css/fonts.css")
    link( rel="stylesheet" href="/static/remodal/dist/remodal.css")
    link( rel="stylesheet" href="/static/remodal/dist/remodal-default-theme.css")

    script(src='/static/jquery/dist/jquery.min.js',type='text/javascript')
    script(src='/static/jquery.pin/jquery.pin.min.js',type='text/javascript')
    script(src='/static/remodal/dist/remodal.min.js',type='text/javascript')

    link(rel='stylesheet', href='/stylesheets/styleUser.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content
