extends ./base/layout

block content
  .row
    .col-xs-12 top
  //.top
  //body
  .row
    .col-xs-1 XXX
    .col-xs-10 
      .row(ng-app='app')
        .col-xs-2 
          //- 个人操作菜单不使用fixed   是因菜单功能增多之后，菜单高度可能超出页面高度
          include menu
        .col-xs-10(ui-view)
        //.content
    .col-xs-1 
      //- 个人快捷操作菜单  采用弧形弹出菜单，用fixed固定，便于操作
      include selfMenu
  //.body
  //- //- include nav
  //- #main-container.main-container
  //-     .main-container-inner
  //-       a#menu-toggler.menu-toggler(href='#')
  //-         span.menu-text

  //-       //- include menu

  //-       .main-content(ng-app='app')
  //-         //- include position
  //-         .page-content
  //-           .row
  //-             .col-xs-12(ui-view)
  //-               // PAGE CONTENT BEGINS
  //-               //- include
  //-               // PAGE CONTENT ENDS
  //-       // /.main-content
  //-     // /.main-container-inner
  //-   // /.main-container