ul#userinfo.fontInfoIcon
  li
    a(href="../",title='市场首页') 
      i(class="fi-home fontInfoIcon")
  li
    a(href="/u#/collectionsList",title='我的收藏')
      i(class="fi-star fontInfoIcon")
  li
    a(href="/u/#shoppingCart",title='我的购物车')
      i(class="fi-shopping-cart fontInfoIcon")
  li
    a(href="javascript:logout()",title='安全退出')
      i(class="fi-power fontInfoIcon")


script.
  var initUserinfo = function(){
    var ul=$("#userinfo"),
    li=$("#userinfo li"),
    i=li.length,
    n=i-1,
    r=120;//控制弹出方向
    li.on('click',function(event){
      event.stopPropagation();
    })
    ul.click(function(){
      $(this).toggleClass('active');
      if($(this).hasClass('active')){
        for(var a=0;a<i;a++){
          li.eq(a).css({
            'transition-delay':""+(50*a)+"ms",
            '-webkit-transition-delay':""+(50*a)+"ms",
            '-o-transition-delay':""+(50*a)+"ms",
            'transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(r*Math.sin(90/n*a*(Math.PI/180)))+"px",
            '-webkit-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(r*Math.sin(90/n*a*(Math.PI/180)))+"px",
            '-o-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(r*Math.sin(90/n*a*(Math.PI/180)))+"px",
            '-ms-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(r*Math.sin(90/n*a*(Math.PI/180)))+"px"
          });
        }
      }else{
        li.removeAttr('style');
      }
    });
  }
  initUserinfo();
  function logout(){
      $.get('/c/logout',function(data){
        if(!data.isLogin){
          window.location.href = window.location.origin;
        }
      })
    }

