.commoditList {
    margin-bottom: 8px;
    /*min-height: 243px;*/
}

.commoditList img {
    min-height: 243px;
    min-width: 200px;
}

#detailContent {}

#detailContent h1 {
    text-align: left;
    border-left: #ccc solid 2px;
    padding-left: 15px;
}

#detailContent h1 a {
    float: right;
    margin-right: 15px;
    padding: 3px 25px;
    background-color: #FF4200;
    color: #fefefe;
}

#detailContent h1 a:hover {
    text-decoration: none;
    background-color: #F52B00;
}

.left {
    float: left
}

.right {
    float: right
}

#thumbnails img {
    cursor: pointer;
}


/*--------userinfo---------*/
#loginbox{
  background-image: url();
}
#userName,#password{
  border: #ccc 1px solid;
  margin-bottom: 3px;
  display: inline;
  /*text-align: center;*/
  padding: 8px 0;
  font-size: 16px;
}
.cLable{
  font-size: 16px;
  line-height: 36px;
  vertical-align: middle;
  border-left: 2px solid #4ECDC4;
  text-align: right;
}
#loginButtomGroup>p{
  padding: 8px 0;
  font-size: 16px;
  background-color: #4ECDC4;
  color: #fff;
  margin-bottom: 3px;
  display: block;
  text-align: center;
  cursor: pointer;
}
#loginButton:hover,#registButton:hover{
  background-color: #46D8CE;
}
#userinfo,#userlogin{
    position: fixed;
    background-color: #fff;
    /*z-index: 9;*/
    right: 35px;
    top: 35px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 3px #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #4ECDC4;
    cursor: pointer;
    z-index: 1200;
    
}


#userinfo>li,#userinfo:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #4ECDC4;

}

#userinfo>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#userinfo:after {
  font-family: "foundation-icons";
  content: "\f1fc";
  /*content: "\f151";*/
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

#userinfo.active:after {
  font-family: "foundation-icons";
  content: "\f1a4";
}

#userinfo a {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}
.fontInfoIcon{
  font-size: 20px;
}
