a:hover{
	text-decoration: none;
}
#userinfo,#userlogin{
    position: fixed;
    background-color: #fff;
    /*z-index: 9;*/
    right: 35px;
    top: 35px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 3px #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #4ECDC4;
    cursor: pointer;
    z-index: 1200;
    
}

#userinfo>li,#userinfo:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #4ECDC4;

}

#userinfo>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#userinfo:after {
  font-family: "foundation-icons";
  content: "\f1fc";
  /*content: "\f151";*/
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

#userinfo.active:after {
  font-family: "foundation-icons";
  content: "\f1a4";
}

#userinfo a {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}
.fontInfoIcon{
  font-size: 20px;
}
