div#large-header(class="large-header")
    canvas#demo-canvas
    h1.main-title ON&nbsp;&nbsp;
      span.thin &nbsp;SALE
      script(src="/javascripts/animated-header/js/TweenLite.min.js")
      script(src="/javascripts/animated-header/js/EasePack.min.js")
      script(src="/javascripts/animated-header/js/demo-1.js")