<div class="row">
  <div class="col-lg-12">
    <div class="widget-box">
      <div class="widget-header widget-header-flat"><h4 ng-bind="controllerName"></h4></div>
      <div class="widget-body">
        <form id="commodit" action="/" enctype="multipart/form-data" method="post">
          <div class="widget-main">
            <div class="row">
              <!-- commoditName -->
              <div class="col-lg-3">
                <div class="form-group">
                  <blockquote style="margin:0" style="margin-buttom:0">
                    <input name="name"  style="margin:0" type="text" class="" placeholder="商品名称" value="{{commodit.name}}" />
                    <input name="id" value="{{commodit._id}}" type="hidden">
                  </blockquote>
                </div>
              </div>
              <!-- .commoditName -->
              <!-- commoditPrice -->
              <div class="col-lg-3">
                <div class="form-group">
                  <blockquote style="margin:0" style="margin-buttom:0">
                    <input name="price"  style="margin:0" type="text" class="" placeholder="商品价格" value="{{commodit.price}}"/>
                  </blockquote>
                </div>
              </div>
              <!-- .commoditPrice -->
              <!-- commoditSum -->
              <div class="col-lg-3">
                <div class="form-group">
                  <blockquote style="margin:0" style="margin-buttom:0">
                    <input name="sum"  style="margin:0" type="text" class="" placeholder="商品库存" value="{{commodit.sum}}"/>
                  </blockquote>
                </div>
              </div>
              <!-- .commoditSum --> 
            </div>
            <div class="row">
              <div class="col-lg-12">
                <blockquote style="margin:0">
                  <div class="row">
                    <div class="col-lg-2">
                      <h5 style="margin:0">商品缩略图</h5>
                    </div>
                  </div>
                  <div class="hr"></div>
                  <div id="thumbnail" class="row">
                    
                  </div>
                </blockquote>
                <div class="hr-16"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <blockquote style="margin:0">
                  <div class="row">
                    <div class="col-lg-2">
                      <h5 style="margin:0;height:30px;line-height:30px;vertical-align: middle">商品分类
                        <i class="icon-lightbulb pull-right" style="margin:0;height:30px;line-height:30px;vertical-align:middle;color:#d15b47"></i>
                      </h5>
                    </div>
                      <div id="types">
                        <div id="typeRoots" class="col-lg-2">                    
                          <h5 id="typeName" style="margin:0;height:30px;line-height:30px;vertical-align: middle">
                          </h5>
                        </div>
                      </div>
                  </div>                
                  <div class="hr"></div>
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- 用来保存提交数据-->
                      <input id="KV" type="hidden" name="KV">
                      <!-- <input id="typeId" type="hidden" name="typeId"> -->
                      <div id="keys" class="form-group">
                        <!-- value 商品属性--> 
                        <span ng-repeat="item in commodit.keyValue" class="input-icon hr-4 col-lg-3" style="padding-left:0"><input type="text" class="col-lg-12"  placeholder="{{item.name}}" value="{{item.value}}" /><i class="icon-certificate blue"></i></span>     
                        <!-- .value -->                                
                      </div>
                    </div>
                  </div>
                </blockquote>
                <div class="hr-16"></div>
              </div>
            </div> 
            <!-- editor -->
            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <h5 class="header clearfix">
                  商品图文描述
                </h5>

                <div class="wysiwyg-editor" id="editor">
                  <!-- {{commodit.describe}} -->
                </div>
                
                <div class="hr hr-double dotted"></div>
                <input id="describe" name="describe" value="" type="hidden">
              </div>
            </div>
            <!-- .editor -->
            <div class="row">
              <div class="col-lg-2">
                <a class="btn btn-sm btn-danger block">
                  <i class="icon-remove bigger-125"></i>
                  取消                
                </a>
              </div>
              <div class="col-lg-2 col-lg-offset-8">
                <button class="btn btn-sm btn-info block col-lg-12">
                  <i class="icon-save bigger-125"></i>
                  保存                
                </button>
              </div>
              <!-- <div class="col-lg-2">
                <a class="btn btn-sm btn-success block">
                  <i class="icon-globe bigger-125"></i>
                  发布
                  <i class="icon-arrow-right icon-on-right bigger-125"></i>
                </a>
              </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="/static/js-base64/base64.min.js"></script> -->
<script type="text/javascript" src="/static/jquery-form/jquery.form.js"></script>
<script>
function findTypeName(typeId){
  // console.log(typeId)
  $.get('/c/type/'+typeId, function(data) {
    // console.log('data : --------------------')
    // console.log(data)
    $("#typeName").text(data.item.name)
  });
}
function creatDescribe(describe){
  $("#editor").html(describe)
}
function creatThumbnail(thumbnail){
  // console.log(thumbnail);
  // var index = 1;
  for(var i=0;i<4 ;i++){
    if(thumbnail[i]){
      var html='<div id="thumbnail_'+i+'" class="col-lg-3"><div class="ace-file-input ace-file-multiple"><label class="file-label hide-placeholder selected"><span class="file-name" data-title="'+thumbnail[i]+'"><img src="'+thumbnail[i]+'" class="middle" style=" width: 50px; height: 50px;"><i class="icon-picture"></i></span></label><a class="remove" href="javascript:flashUploadT(\'thumbnail_'+i+'\','+i+')"><i class="icon-remove"></i></a></div></div>'
      $("#thumbnail").append(html);
    }else{
      var j = i+1;
      var html = '<div class="col-lg-3"><input  name="p'+j+'"  id="p'+j+'" multiple="" type="file" /></div>';
      $("#thumbnail").append(html);
      afi("p"+j);
    }
  }
}
function flashUploadT(id,index){
  index++;
  var html='<input name="p'+index+'" id="p'+index+'" multiple="" type="file" />'
  $("#"+id).empty().append(html);
  afi("p"+index);
}
function afi(id){
  // console.log(id)
  $("#"+id).ace_file_input({
  style:'well',
  btn_choose:'选择上传图片',
  btn_change:null,
  no_icon:'icon-cloud-upload',
  droppable:true,
  thumbnail:'small'//large | fit
  //,icon_remove:null//set null, to hide remove/reset button
  /**,before_change:function(files, dropped) {
    //Check an example below
    //or examples/file-upload.html
    return true;
  }*/
  /**,before_remove : function() {
    return true;
  }*/
  ,
  preview_error : function(filename, error_code) {
    //name of the file that failed
    //error_code values
    //1 = 'FILE_LOAD_FAILED',
    //2 = 'IMAGE_LOAD_FAILED',
    //3 = 'THUMBNAIL_FAILED'
    //alert(error_code);
  }

  }).on('change', function(){
  });
}

// editor
function showErrorAlert (reason, detail) {
    var msg='';
    if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
    else {
    }
    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
     '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
  }
//$('#editor').ace_wysiwyg();//this will create the default editor will all buttons

//but we want to change a few buttons colors for the third style
$('#editor').ace_wysiwyg({
  toolbar:
  [
    'font',
    null,
    'fontSize',
    null,
    {name:'bold', className:'btn-info'},
    {name:'italic', className:'btn-info'},
    {name:'strikethrough', className:'btn-info'},
    {name:'underline', className:'btn-info'},
    null,
    {name:'insertunorderedlist', className:'btn-success'},
    {name:'insertorderedlist', className:'btn-success'},
    {name:'outdent', className:'btn-purple'},
    {name:'indent', className:'btn-purple'},
    null,
    {name:'justifyleft', className:'btn-primary'},
    {name:'justifycenter', className:'btn-primary'},
    {name:'justifyright', className:'btn-primary'},
    {name:'justifyfull', className:'btn-inverse'},
    null,
    {name:'createLink', className:'btn-pink'},
    {name:'unlink', className:'btn-pink'},
    null,
    {name:'insertImage', className:'btn-success'},
    null,
    'foreColor',
    null,
    {name:'undo', className:'btn-grey'},
    {name:'redo', className:'btn-grey'}
  ],
  'wysiwyg': {
    fileUploadError: showErrorAlert
  }
}).prev().addClass('wysiwyg-style2');


function addKeyValue(keys){
  var html = '';
  for(var i in keys){
    var key = keys[i];
    html += '<span class="input-icon hr-4 col-lg-3" style="padding-left:0"><input type="text" class="col-lg-12"  placeholder="'+key.keyName+'" /><i class="icon-certificate blue"></i></span> ';
  }
  $("#keys").html(html);
}
//商品信息异步提交保存
$('form').on('submit', function(e) {
    e.preventDefault(); // prevent native submit
    $('#describe').prop('value', $('#editor').html())
    //重新处理keys  因为keyName做了base64
    var keys = $('#keys input');
    var KV = [];
    for(var i=0; i<keys.length; i++){
      var k = $(keys[i]);
      var item = {
        'name' : k.prop('placeholder'),
        'value' : k.val()
      }
      KV.push(item);
    }
    console.log(KV);
    $('#KV').prop('value',JSON.stringify(KV));
    //*
    var options = {    
       target:'#commodit',   // target element(s) to be updated with server response    
       // beforeSubmit:  showRequest,  // pre-submit callback    
       error: function(data){
          data = $.parseJSON(data.responseText);
          console.log(data.message);
          if(data.message == "ok"){
            window.location.hash = "#/commodit/"+data.commoditId;
          }else{
            aler(data)
          }
       },
       success: function(data){
          alert('提交成功！');
       },  // post-submit callback    未生效
  
       // other available options:    
       url:       '/u/commoditUpdate',         // override for form's 'action' attribute    
       type:      'post' ,       // 'get' or 'post', override for form's 'method' attribute    
       dataType:  'multipart/form-data'        // 'xml', 'script', or 'json' (expected server response type)    
       // clearForm: true        // clear all form fields after successful submit    
       //resetForm: true        // reset the form after successful submit    
  
       // $.ajax options can be used here too, for example:    
       //timeout:   3000    
   };   
    $(this).ajaxSubmit(options);
});
</script>