<div class="row">
  <div class="col-lg-12">
    <div class="widget-box">
      <div class="widget-header widget-header-flat">
        <h4>{{controllerName}}</h4>
        <div class="pull-right">
          <a class="btn btn-info" href="javascript:history.go(-1);">
            <i class="fi-burst-new"></i>
            返回
          </a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="row">
            <div class="col-lg-3">
              <h4>名称 ：{{commodit.name}}</h4>
            </div>
            <div class="col-lg-3">
              <h4>库存 ：{{commodit.sum}}</h4>
            </div>
            <div class="col-lg-3">
              <h4>价格 ：{{commodit.price}}</h4>
            </div>
            <div class="col-lg-3">
              <h4>
                <a title="编辑" href="#/commoditEditPage/{{commodit._id}}" class="btn btn-xs btn-info">
                  <i class="icon-edit bigger-120"></i>
                </a>
                <a ng-click="publish($event)" data-id="{{commodit._id}}" class="btn btn-xs btn-success" title="发布商品">
                  <i class="icon-arrow-right icon-on-right bigger-120"></i>
                </a>
              </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div ng-repeat="item in commodit.keyValue" class="col-lg-3">
              {{item.name}} : {{item.value}}
            </div>
          </div>
          <hr/>
          <div class="row">
            <div ng-repeat="item in commodit.thumbnail" class="col-lg-3">
              <img class="col-lg-12" src="{{item}}">
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12" ng-bind-html="commodit.describe">
              <!-- {{commodit.describe}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function publish(id){
  $.get('/u/commoditPublish/'+id, function(data) {
    /*optional stuff to do after success */
    console.log(data.message)
  });
}
</script>
