<div class="row">
  <div class="col-lg-12">
    <div class="widget-box">
      <div class="widget-header widget-header-flat">
        <h4>{{controllerName}}</h4>
        <div class="pull-right">
          <a class="btn btn-info" href="javascript:history.go(-1);">
            <i class="fi-burst-new"></i>
            返回
          </a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="well" id="{{order._id}}" ng-repeat="order in orderList">
            <div class="row">
              <div class="col-lg-6">
                <i ng-if="order.state == 1" class="icon-lock red" title="订单已锁定"></i>
                <i ng-if="order.state == 0" class="icon-unlock green"></i>
                &nbsp;订单编号 ：{{order._id}}
              </div>
              <div class="col-lg-6">
                <button title="取消" class="close red" ng-click="delOrder(order._id)">
                  <i class="icon-remove"></i>
                </button> 
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-lg-2" ng-repeat="item in order.commoditsList">
                <div>
                  <div class="cool-lg-12"><img style="width:100%" height="124px" ng-src="{{item.pic}}"></div>
                  <p style="margin:3px 0"><strong>名称：</strong>
                    <a href="#/commoditView/{{item.id}}">{{item.name}}</a>
                  </p>
                  <p style="margin:3px 0"><strong>价格：</strong>￥{{item.price}}</p>
                  <p style="margin:3px 0"><strong>数量：</strong>{{item.amount}}</p>
                </div>
              </div>             
            </div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-9">  
                <strong>共计：</strong>￥{{order.total}}
              </div>
              <div class="col-lg-1">
                <a ng-if="order.state == 0" href="#/order/{{order._id}}" class="col-lg-12 btn btn-xs btn-info">查看</a>
                <a ng-if="order.state == 1" href="#/payOne/{{order._id}}" class="col-lg-12 btn btn-xs btn-warning">付款</a>
              </div>
              <!-- <div class="col-lg-1">
                <a href="#" class="col-lg-12 btn btn-xs btn-warning">结算</a>
              </div> -->
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">


</script>
